<h1>Hello, Kozha!</h1>

<p>{{num + 2}}</p>

<p class="message">{{message}}</p>

<!--<p>{{array}}</p>  Бұл просто тізіп шығарады. -->

<ul>
  <li *ngFor="let iter of array">
    {{iter}}
  </li>
</ul>


<ul>
  <li *ngFor="let iter of students; let  i = index;">
    {{i + 1}}) {{iter.id}} - {{iter.name}} - {{iter.gpa}}
  </li>
</ul>


<p *ngIf="isOk">Some data</p>


<button (click)="btnClick()">The button</button>

<br>
<br>

<fieldset>
  <input type="text" [(ngModel)]="intputData">
  <p>{{intputData}}</p> <!--  Не жазып жатқанымызды көрсетіп тұрады.-->
  <button (click)="addItem()">Add item</button>
</fieldset>


<ul>
  <li *ngFor="let iter of items; let i = index">
    {{iter}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<!--<router-outlet></router-outlet>-->
